.header {
  position: relative;

  padding: 30px 0;
  transition: all .5s ease-in-out;

  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 5px rgb(57 63 72 / 30%);
    transition: all .5s ease-in-out;
    z-index: 10;
    background: #fff;
    padding: 10px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 15px 30px;

    transition: all 0.5s;

    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    @media(min-width: 576px) {
      align-items: center;
    }

    @media(min-width: 1100px) {
      opacity: 1;
      position: static;
      transform: translateY(0);
      width: max-content;
      height: auto;
      padding: 0;
      background: none;
      flex-direction: row;
      z-index: 0;
    }
  }

  &__language {
    outline: none;
    border: none;
    background: transparent;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #040D23;
    position: relative;

    order: 1;
    margin-bottom: 60px;
    width: 41px;
    height: 41px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 576px) {
      margin-right: auto;
    }
    @media(min-width: 1100px) {
      order: 2;
      margin: 0 24px;
    }
    @media(min-width: 1440px) {
      margin: 0 56px;
    }
    //&--mod{
    //  .header__language-list{
    //    display: block;
    //  }
    //}
    &-list {
      background: #FFFFFF;
      box-shadow: 0px 4px 15px rgba(143, 141, 141, 0.1);
      border-radius: 3px;
      padding: 15px;
      position: absolute;
      top: 45px;
      left: 5px;
      width: 164px;

    }

    &-item {

      display: flex;
      justify-content: flex-start;

      &:not(:last-child) {
        margin-bottom: 30px;
      }

    }

    &-link {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: left;
      color: #393737;
    }

  }

  &--open {
    .header__wrapper {
      transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }
  }
}

.show{
  display: block;
}
.hide{
  display: none;
}