.gallery {
  padding-top: 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
    @media(min-width: 768px){
      margin-bottom: 80px;
    }
  }

  &__title {
    margin-bottom: 0;
    font-family: "Inter",sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    @media(min-width: 768px){
      font-size: 64px;
      line-height: 77px;
    }
  }

  &__wrap {
    position: relative;
  }
  &__decor{
    position: absolute;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 97%;
      background: rgba(19, 98, 225, 0.6);
      border-radius: 15px;
      @media(min-width: 768px){
        height: 98.5%;
      }
    }
    &::after{
      content: '';
      position: absolute;
      width: 95px;
      height: 95px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("/img/video-btn.jpg") no-repeat;
      border-radius: 50%;
    }
  }
  &__img {
    width: 100%;
    border-radius: 15px;
    height: 100%;
    object-fit: cover;
  }

  &__swiper {
    overflow: hidden;
  }
  &__slide {
    flex: 0 0 321px;
    height: 284px !important;

    @media(min-width: 768px){
      flex: 0 0 453px;
      height: 396px !important;
    }


    &-video {
      border-radius: 15px;
      width: 100%;
      height: 284px !important;
      max-width: 453px;
      object-fit: cover;
      @media(min-width: 768px){
        height: 396px !important;
      }
    }
  }
}